<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-sharp" class="left_arrow" routerLink="/login"></ion-icon>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="common_bg">
  <div class="signup common_width">
  <ion-segment  color="primary" value="shipper">
    <ion-segment-button value="shipper">
      <ion-label>Shipper</ion-label>
    </ion-segment-button>
    <ion-segment-button value="courier">
      <ion-label>Courier</ion-label>
    </ion-segment-button>
    <ion-segment-button value="mile">
      <ion-label>Last Mile</ion-label>
    </ion-segment-button>
  </ion-segment>
  <form class="ion-margin">
    <ion-item lines="none" class="textbox ion-no-padding">
      <ion-label position="floating" class="ion-text-capitalize">Company name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item lines="none" class="textbox ion-no-padding">
      <ion-label position="floating" class="ion-text-capitalize">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item lines="none" class="textbox ion-no-padding">
      <ion-label position="floating" class="ion-text-capitalize">Mobile</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item lines="none" class="textbox ion-no-padding">
      <ion-label position="floating" class="ion-text-capitalize">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <p class="ion-text-center terms">By tapping submit you agree on our<br/><span >Terms and Conditions</span></p>
    <ion-button expand="block"  class="sign_up_btn ion-text-uppercase" color="primary">Submit</ion-button>
</form>
</div>
  
</ion-content>
