.signup {
    margin: 20px auto 0 auto;
    ion-label{
    font-size: 14px !important;
    font-weight: 500;
    }
}
.textbox{
    ion-input{
        color: var(ion-color-warning-contrast);  
      }
}
.terms{
    margin: 30px 0;
    span{
    color: var(--ion-color-primary);
    }
}
