<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="common_bg">
        <div class="upload_image">
            <img src="../../../assets/images/Lowbed.png" alt="" />
            <div class="camera"><ion-icon name="camera-sharp"></ion-icon></div>
        </div>
        <ion-card>
          <ion-card-content>
        <ion-item  class="ion-no-padding">
          <ion-label>Email</ion-label>
          <ion-label class="ion-text-right">xyz@yopmail.com</ion-label>
        </ion-item>
        <ion-item  class="ion-no-padding">
          <ion-label>Mobile</ion-label>
          <ion-label class="ion-text-right">+1+354-657-6546</ion-label>
        </ion-item>
        <ion-item  class="ion-no-padding">
          <ion-label>Company Name</ion-label>
          <ion-label class="ion-text-right">xyz</ion-label>
        </ion-item>
        <ion-item lines="none"  class="ion-no-padding">
          <ion-label>Password</ion-label>
          <ion-label class="ion-text-right">********</ion-label>
        </ion-item>
      </ion-card-content>
      </ion-card>
      <ion-card class="options">
        <ion-card-content>
          <ion-item  class="ion-no-padding" routerLink="">
            <ion-icon name="document-attach-sharp"></ion-icon>
            <ion-label>Account Documents</ion-label>
          </ion-item>
          <ion-item  class="ion-no-padding" routerLink="">
            <ion-icon name="headset-sharp"></ion-icon>
            <ion-label>Support</ion-label>
          </ion-item>
          <ion-item  class="ion-no-padding"  lines="none">
            <ion-icon name="log-out-sharp"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
</ion-content>
