.upload_image{
    width: 100px;
    height: 100px;
    border:1px solid var(--ion-color-medium-shade);
    border-radius: 50%;
    margin: 20px auto;
    position: relative;
}
.camera{
    position: absolute;
    right: 0;
    bottom: -9px;
    width: 40px;
    height: 40px;
    background-color: var(--ion-color-primary);
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
    line-height: 45px;
}
.upload_image{
    line-height: 100px;
    text-align: center;
    > img{
        width: 61px;
    }

}
ion-label{
    font-size: 13px !important;
}
.options{
ion-icon{
    color: var(--ion-color-primary);
    font-size: 24px;
    margin-right: 10px;
}
}