<!-- <ion-header>
  <ion-toolbar>
    <ion-title>registration-success</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <div class="registration_success ion-text-center d-flex justify-content-center align-items-center">
      <img src="../../../assets/images/Combined_Shape.png" alt="" />
      <h4>Your registration has been submitted successfully</h4>
      <p>You will be getting a reply on 1-2 working days.</p>
      <p class="submission_date">Date of Submission: <span>07/03/2020 </span></p>
      <p  class="ion-text-uppercase blue_text" routerLink="">back to home page</p>

  </div>
</ion-content>
