<ion-header translucent="true" >
  <ion-toolbar>
    <ion-icon name="arrow-back-sharp" class="left_arrow" routerLink="/sign-up"></ion-icon>
    <ion-title>Shipper Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="common_bg">
  <div class="shipper common_width">
       <form class="ion-margin">
      <ion-item lines="none" class="textbox ion-no-padding">
        <ion-label position="floating" class="ion-text-capitalize">Commercial Number</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <div class="upload">
        <ion-item class="ion-no-padding" lines="none">
          <ion-icon name="cloud-upload-sharp"></ion-icon>
          <p class="ion-text-capitalize">attach commercial registration  </p>
        </ion-item>
      </div>
      <ion-item lines="none" class="textbox ion-no-padding">
        <ion-label position="floating" class="ion-text-capitalize">vat number</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <div class="upload">
        <ion-item class="ion-no-padding" lines="none">
          <ion-icon name="cloud-upload-sharp"></ion-icon>
          <p class="ion-text-capitalize"> attach VAT Certificate </p>
        </ion-item>
      </div>
      <ion-item lines="none" class="textbox ion-no-padding location">
        <ion-label  class="ion-text-capitalize">location</ion-label>
      </ion-item>
      <ion-item lines="none" class="textbox ion-no-padding industry">
          <ion-label class="ion-text-capitalize">Industry type</ion-label>
          <ion-select  okText="Okay" cancelText="Dismiss">
            <ion-select-option value="fruits">Fruits & Vegetables</ion-select-option>
            <ion-select-option value="food">Canned Food</ion-select-option>
            <ion-select-option value="drinks">Drinks</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item lines="none" class="textbox ion-no-padding industry">
        <ion-label class="ion-text-capitalize">product</ion-label>
        <ion-select  okText="Okay" cancelText="Dismiss">
          <ion-select-option value="fruits">Fruits & Vegetables</ion-select-option>
          <ion-select-option value="food">Canned Food</ion-select-option>
          <ion-select-option value="drinks">Drinks</ion-select-option>
        </ion-select>
    </ion-item>
      <ion-button expand="block"  class="sign_up_btn ion-text-uppercase" color="primary">Submit</ion-button>
  </form>
  </div>
</ion-content>
