ion-segment{
    margin-top: 20px;
}
ion-content {
    --ion-background-color: var(--ion-color-primary);
  }
.login_btn{
    color: var(--ion-color-primary);
    margin-bottom: 10px;
}
ion-label{
    color:var(--ion-color-primary-contrast)!important;
}

h4{
    color:var(--ion-color-primary-contrast);
    
}

.logo {
    margin-top: 30px;
    img{
        width:80px;
    }
}
