<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div  class="login common_width">
      <ion-segment value="english" color="secondary">
        <ion-segment-button value="english">
          <ion-label>English</ion-label>
        </ion-segment-button>
        <ion-segment-button value="hindi">
          <ion-label>Arabic</ion-label>
        </ion-segment-button>
      </ion-segment>
      <div class="ion-text-center logo">
          <img src="../../../assets/images/Logo_White.png" alt=""/>
        </div>
          <h4 class="ion-text-center ion-text-uppercase">login</h4>
          <form class="ion-margin">
              <ion-item lines="none" class="textbox ion-no-padding">
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email"></ion-input>
              </ion-item>
              <ion-item lines="none" class="textbox ion-no-padding">
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>
              <ion-item lines="none" class="ion-no-padding" >
                <ion-label class="ion-text-right" (click) ="presentAlertPrompt()">Forgort Password?</ion-label> 
              </ion-item>
              <ion-button expand="block"  class="login_btn ion-text-uppercase" color="button">Login</ion-button>
              <ion-button expand="block" fill="outline" class="sign_up_btn ion-text-uppercase" color="button" >Sign up</ion-button>
      </form>
  </div>
</ion-content>
