<ion-header>
  <ion-toolbar>
    <!-- <ion-icon name="arrow-back-sharp" class="left_arrow" routerLink=""></ion-icon> -->
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="common_bg">

  <ion-searchbar ></ion-searchbar>
  <ion-card>
    <ion-card-content>
      <div class="active_bid">
      <ion-item lines="none" class="ion-no-padding">
        <ion-label class="blue_text price">#876567</ion-label>
        <ion-label class="ion-text-right">04/03/2020</ion-label>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding">
      <p class="bold_text"><span>Qty:</span> 3</p>
      <p class="bold_text" slot="end"><span>Rating:</span> 4.2</p>
      </ion-item>
      <p>Jeddah - Riyadh</p>
    </div>
    <div class="active_bid">
      <ion-item lines="none" class="ion-no-padding">
        <ion-label class="blue_text price">#876567</ion-label>
        <ion-label  class="ion-text-right">04/03/2020</ion-label>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding">
        <p class="bold_text"><span>Qty:</span> 3</p>
        <p class="bold_text" slot="end"><span>Rating:</span> 4.2</p>
        </ion-item>
      <p>Jeddah - Riyadh</p>
    </div>
    <div class="active_bid">
      <ion-item lines="none" class="ion-no-padding">
        <ion-label class="blue_text price">#876567</ion-label>
        <ion-label  class="ion-text-right">04/03/2020</ion-label>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding">
        <p class="bold_text"><span>Qty:</span> 3</p>
        <p class="bold_text" slot="end"><span>Rating:</span> 4.2</p>
        </ion-item>
      <p>Jeddah - Riyadh</p>
    </div>
    <div class="active_bid">
      <ion-item lines="none" class="ion-no-padding">
        <ion-label class="blue_text price">#876567</ion-label>
        <ion-label  class="ion-text-right">04/03/2020</ion-label>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding">
        <p class="bold_text"><span>Qty:</span> 3</p>
        <p class="bold_text" slot="end"><span>Rating:</span> 4.2</p>
        </ion-item>
      <p>Jeddah - Riyadh</p>
    </div>
    </ion-card-content>
  </ion-card>
  </ion-content>
