<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-sharp" class="left_arrow" routerLink=""></ion-icon>
    <ion-title>Available Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="common_bg ion-padding">
<ion-item lines="none" class="availability ion-no-padding">
  <ion-label>From<br/>
    <p>Makkah</p>
    <p>03-02-2020</p>
  </ion-label>
  <ion-label>To<br/>
    <p>Riyadh</p>
    <p>03-02-2020</p>
  </ion-label>
</ion-item>
<ion-searchbar class="ion-no-padding"></ion-searchbar>
<ion-label class="result_total">450 Results</ion-label>
<ion-grid>
    <ion-row>
        <ion-col size="5">
          <ion-label>From - To</ion-label>
          <p>Makkah - Riyadh</p>
          <p>Riyadh - Makkah</p>
          <p>Makkah - Riyadh</p>
          <p>Riyadh - Makkah</p>
          <p>Makkah - Riyadh</p>
          <p>Riyadh - Makkah</p>
        </ion-col>
        <ion-col size="4">
          <ion-label>Date</ion-label>
          <p>02-03-2020</p>
          <p>02-03-2020</p>
          <p>02-03-2020</p>
          <p>02-03-2020</p>
          <p>02-03-2020</p>
          <p>02-03-2020</p>
        </ion-col>
        <ion-col size="3">
          <ion-label>Rating</ion-label>
          <p>4.2</p>
          <p>4.2</p>
          <p>4.2</p>
          <p>4.2</p>
          <p>4.2</p>
          <p>4.2</p>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
