.availability{
    ion-label{
        font-size: 12px;
        p{
            color: var(--ion-black-color);
            font-size: 14px;
            font-weight: 600;
            margin-top: 7px;
        }
    }
}
.result_total{
    font-weight: 600;
    color: var(--ion-color-primary);
}
ion-grid{
    font-size: 12px;
    margin-top: 15px;
        ion-label{
            font-weight: 600;
        }
        p{
            margin-bottom: 18px;
        }
}