  

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="shipper-home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="trips">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Trips</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="available-order">
        <ion-icon name="cart-sharp"></ion-icon>
        <ion-label>Order</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="history">
        <ion-icon name="time"></ion-icon>
        <ion-label>History</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="account">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Account</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
