/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700i,800&display=swap');
.ion-color-button {
    --ion-color-base: var(--ion-color-button, #fff) !important;
    --ion-color-base-rgb: var(--ion-color-button-rgb, 61, 194, 255) !important;
    --ion-color-contrast: var(--ion-color-button-contrast, #3880ff) !important;
    --ion-color-contrast-rgb: var(--ion-color-button-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: var(--ion-color-button-shade, #fff) !important;
    --ion-color-tint: var(--ion-color-button-tint, #fff) !important;
}
body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

html.ios,html {
    --ion-default-font:'Montserrat', sans-serif;
}
.left_arrow{
    font-size: 20px;
}
ion-segment-button{
    &:before{
        display: none;
    }
}
ion-segment{
    background-color: transparent;
}
ion-segment-button{
    --indicator-box-shadow: none;
    --border-radius: 0;
    border-bottom: 2px solid transparent;
}
.segment-button-checked{
    border-bottom: 2px solid var(--ion-color-primary);
}
.textbox{
    border-bottom: 1px solid var(--ion-border-bottom-color);
    ion-input{
        font-size: 14px;
    }
}
.login_btn{
    color: var(--ion-color-primary);
    margin-bottom: 10px;
}
ion-title{
    font-weight: 500;
}
form{
ion-label{
    font-size: 14px !important;
    }
}
ion-button{
    height: 40px;
    font-size: 14px;
    font-weight: 600;
}
ion-title{
    text-align: center;
}
.common_width{
    max-width: 480px;
    margin: auto;
}
ion-title{
    padding-inline-start: 68px;
    padding-inline-end: 68px;
    font-size: 16px;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.align-items-end {
    -ms-flex-align: end!important;
    align-items: flex-end!important;
}
.align-items-start {
    -ms-flex-align: start!important;
    align-items: flex-start!important;
}
.justify-content-start {
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}
.justify-content-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.blue_text{
    color: var(--ion-color-primary);
}
.blue_bg{
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast) !important;
}
.common_bg{
    --ion-background-color:var(--ion-bg-color);
}
.active_bid{
    border-bottom: 1px solid var(--ion-color-medium-tint);
    padding-bottom: 10px;
}
.price{
    color: var(--ion-color-primary) !important;
    font-weight: 800;
    margin-right: 0;

}
.upload{
        ion-icon{
            color: var(--ion-color-primary);
            margin-right: 5px;
            font-size: 20px;
        }
        p{
            color: var(--ion-color-primary);
            font-size: 12px;
        }
}