<ion-header>
  <ion-toolbar>
    <ion-title>Shipper Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="common_bg">
  <ion-searchbar ></ion-searchbar>
  <ion-segment  color="primary" value="shipper">
    <ion-segment-button value="shipper">
      <div class="segment_img">
      <img src="../../../assets/images/Truck_Graphic-1.png" alt="" />
    </div>
      <ion-label>New Freight Shipment Trip</ion-label>
    </ion-segment-button>
    <ion-segment-button value="mile">
      <div class="segment_img">
      <img src="../../../assets/images/Truck_Graphic.png" alt="" />
    </div>
      <ion-label>New Last Mile Trip</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Active Bids</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div class="active_bid">
      <ion-item lines="none" class="ion-no-padding">
        <ion-label class="blue_bg bids">13 BIDS</ion-label>
        <ion-label class="blue_text price">1,200 SAR</ion-label>
        <ion-label>04/03/2020</ion-label>
      </ion-item>
      <p>Jeddah - Riyadh</p>
      <p>FMCG - Vegetables</p>
    </div>
    <div class="active_bid">
      <ion-item lines="none" class="ion-no-padding">
        <ion-label class="blue_bg bids">13 BIDS</ion-label>
        <ion-label class="blue_text price">1,200 SAR</ion-label>
        <ion-label>04/03/2020</ion-label>
      </ion-item>
      <p>Jeddah - Riyadh</p>
      <p>FMCG - Vegetables</p>
    </div>
    <div class="active_bid">
      <ion-item lines="none" class="ion-no-padding">
        <ion-label class="blue_bg bids">13 BIDS</ion-label>
        <ion-label class="blue_text price">1,200 SAR</ion-label>
        <ion-label>04/03/2020</ion-label>
      </ion-item>
      <p>Jeddah - Riyadh</p>
      <p>FMCG - Vegetables</p>
    </div>
    <div class="active_bid">
      <ion-item lines="none" class="ion-no-padding">
        <ion-label class="blue_bg bids">13 BIDS</ion-label>
        <ion-label class="blue_text price">1,200 SAR</ion-label>
        <ion-label>04/03/2020</ion-label>
      </ion-item>
      <p>Jeddah - Riyadh</p>
      <p>FMCG - Vegetables</p>
    </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-item lines="none" class="ion-no-padding">
        <ion-card-subtitle>Latest Activity</ion-card-subtitle>
        <p class="ion-text-right see_all" slot="end">See All</p>
      </ion-item>
    </ion-card-header>
  
    <ion-card-content>
      <div class="active_bid">
      <ion-item lines="none" class="ion-no-padding">
        <ion-label class="blue_bg bids">Loading</ion-label>
        <ion-label slot="end" class="ion-text-right">04/03/2020</ion-label>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding">
        <ion-label class="blue_text price">Jeddah - Riyadh</ion-label>
        <ion-label slot="end" class="ion-text-right">#878787</ion-label>
      </ion-item>
    </div>
    <div class="active_bid">
      <ion-item lines="none" class="ion-no-padding">
        <ion-label class="blue_bg bids">Loading</ion-label>
        <ion-label slot="end" class="ion-text-right">04/03/2020</ion-label>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding">
        <ion-label class="blue_text price">Jeddah - Riyadh</ion-label>
        <ion-label slot="end" class="ion-text-right">#878787</ion-label>
      </ion-item>
    </div>
    <div class="active_bid">
      <ion-item lines="none" class="ion-no-padding">
        <ion-label class="blue_bg bids">Loading</ion-label>
        <ion-label slot="end" class="ion-text-right">04/03/2020</ion-label>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding">
        <ion-label class="blue_text price">Jeddah - Riyadh</ion-label>
        <ion-label slot="end" class="ion-text-right">#878787</ion-label>
      </ion-item>
    </div>
    <div class="active_bid">
      <ion-item lines="none" class="ion-no-padding">
        <ion-label class="blue_bg bids">Loading</ion-label>
        <ion-label slot="end" class="ion-text-right">04/03/2020</ion-label>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding">
        <ion-label class="blue_text price">Jeddah - Riyadh</ion-label>
        <ion-label slot="end" class="ion-text-right">#878787</ion-label>
      </ion-item>
    </div>
    </ion-card-content>
  </ion-card>

</ion-content>
