ion-segment-button{
ion-label{
    word-break: break-word;
    white-space: normal;
    font-size: 14px !important;
}
}
.segment_img {
    height: 44px;
}

ion-card{
        ion-label{
            font-size: 12px;
        }
}
.bids{
    border-radius: 2px;
    padding: 3px;
    text-align: center;
}

.see_all{
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--ion-color-primary);
    text-decoration: underline;
}
